<h2>Streets</h2>
<a href = "/appliance"><input type="submit" value="show rate"></a>
<table>
{{#each streets}}
<tr>
	<td>
		{{name}}
	</td>
	<td>
		<a href="/meters/{{id}}">Meters in street</a>
	</td>
</tr>
{{/each}}
</table>
<br>

<a href = "/lowest_balance"><input type="submit" value="lowest balance"></a>
<a href = "/highest_balance"><input type="submit" value="highest balance"></a>
<a href = "/totalBalance"><input type="submit" value="total balance"></a>